@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes slideInRight {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
    
}
*{
    margin: 0px;
    padding : 0px;
    /* background-color: #4a4646; */
    box-sizing: border-box;
}
.main-box{
    position: relative;
    display: flex;
    margin: auto;
    top:200px;
    background-color : #d6cdcd;
    width: 550px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 275px;
    background-color: #ffffff;
    animation-name: slideInLeft;
    animation-duration:1s ;
}
.sign-in{
    position: relative;
    top:20px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: poppins;
}
.usertype{
    font-size: 1rem;
    margin: 8px;
    
}
.dropdown{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 20px;
    
}
#drop-down{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    border-radius: 25px;
    background-color: #e2cccc;
    text-align: center;
    border: none;
}
.new{
    position: relative;
    top:15px
}
.form{
    position: relative;
    top: 0px;
    right: 20px;
    width: 200px;
    height: 30px;
}
.username, .password{
    margin: 8px;
}
#username, #password{
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background-color: #e2cccc;
    font-size: 1rem;
    text-align: center;
    border: none;
}
.signin-btn{
    position: relative;
    height: 30px;
    width: 150px;
    left: 25px;
    border-radius: 25px;
    background-color: #dd6363;
    color: #ffffff;
    border: 1px solid white;
    transition: all 0.8s ease;
}
.signin-btn:hover{
    background-color: #e2cccc;
}
.sign-up{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 275px;
    background-color: #dd6363;
    animation-name: slideInRight;
    animation-duration:1s ;
}
.welcome{
    font-size: 1.6rem;
    color: #ffffff;
    font-family: poppins;
    font-weight: bold;
    text-align: center;
}
.paragraph{
    color: #ffffff;
    font-family: poppins;
}
.signup-btn{
    position: relative;
    height: 30px;
    width: 150px;
    top:10px;
    left: 5px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #dd6363;
    transition: all 0.8s ease;
}
.signup-btn:hover{
    background-color: #e2cccc;
}